@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: rgb(245, 208, 78);
    font-family: 'Figtree', sans-serif;
}   
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

footer {
    display: flex;
    justify-content: center;
    min-height: 50px;

}

img {
    border-radius: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 350px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.tag {
    align-self: flex-start;
    margin-top: 20px;
    background-color: rgb(246, 207, 80);
    padding: 5px 10px 5px 10px;
    font-size: small;
    font-weight: 900;
    border-radius: 5px;
}

p {
    align-self: flex-start;
    font-size: small;
}

h1 {
    align-self: flex-start;
    font-weight: 900;
    margin-top: 0px;
}

.description {
    color: grey;
}

.avatar {
    align-self: flex-start;
    max-width: 35px;
    gap: 10px;
}

.avatar-container {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    gap: 10px;
    max-width: 300px;

}

.name {
    font-weight: 900;
    font-size: small;
    margin-top: 10px;
}